/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para móviles (entre 320 y 480 píxeles) */
@media screen and (min-width: 480px) {
    /* Estilos específicos para dispositivos móviles */
    body {
        background-color: lightblue;
    }
    header {
        background-color: #333;
        color: #fff;
        padding: 20px;
    }
}

/* Estilos para tabletas (entre 768 y 1024 píxeles) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Estilos específicos para tabletas */
    body {
        background-color: lightgreen;
    }
    header {
        background-color: #666;
        color: #fff;
        padding: 30px;
    }
}

/* Estilos para pantallas grandes (más de 1200 píxeles) */
@media screen and (min-width: 1200px) {
    /* Estilos específicos para pantallas grandes */
    body {
        background-color: lightyellow;
    }
    header {
        background-color: #999;
        color: #fff;
        padding: 40px;
    }
}

/* Estilos para el resto del documento */
p {
    text-align: center;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
