.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .centered-list {
    list-style: none;
    padding: 0;
  }
  
  .centered-list li {
    margin: 5px;
  }
  